/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

nav {
  background-color: #444;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #666;
}

section {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  clear: both;
}

/* Styling for skills section */
#skills ul {
  padding-left: 20px;
}

#skills li {
  margin-bottom: 5px;
}

/* Styling for achievements and certification sections */
#achievements ul,
#certification ul {
  list-style: square;
  padding-left: 40px;
  margin-bottom: 10px;
}

/* Styling for interests section */
#interests {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.interest {
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
